server:
  port: 8080
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/sygpress_db
    username: postgres
    password: toor
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 30000
  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        show_sql: true
        format_sql: true
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
  sql:
    init:
      mode: never

jwt:
  secret: c3lncHJlc3Mtc2VjcmV0LWtleS1mb3Itand0LXRva2VuLWdlbmVyYXRpb24tMjAyNA==
  expiration: 86400000

file:
  upload-dir: uploads

spring.servlet.multipart:
  max-file-size: 10MB
  max-request-size: 10MB

# Configuration du nettoyage automatique des logs d'audit
audit:
  cleanup:
    enabled: true
    retention-days: 30  # Conserver les logs pendant 30 jours
    cron: "0 0 2 1 * ?"  # Exécuter le 1er de chaque mois à 2h00 du matin
