server:
  port: 8080
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/sygpress_db
    username: postgres
    password: toor
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 30000
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        show_sql: true
        format_sql: true

jwt:
  secret: c3lncHJlc3Mtc2VjcmV0LWtleS1mb3Itand0LXRva2VuLWdlbmVyYXRpb24tMjAyNA==
  expiration: 86400000
